
    <div style="background-image:

    url('https://images.unsplash.com/photo-1551233378-136a5b5564a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    
    background-repeat: no-repeat; background-size: cover;">
    
    <h1 style="text-align: center;"><em>Pen down your thoughts</em></h1>

        <i><h3 style="text-align: center;">There is no greater agony <br>than bearing an untold story inside you...</h3></i>

     <div class="home-image"><img src="/assets/home.png" ></div>

<br><br><br><br>
</div>
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->



<!-- <div style="background-image:

url('https://images.drive.com.au/driveau/image/upload/c_fill,f_auto,g_auto,h_1080,q_auto:eco,w_1920/v1/cms/uploads/tvxlwnpxvgkeyzsm3a9a');

background-repeat: no-repeat; background-size: cover;">

    <div style="min-height: 100vh;

    text-shadow: 2px 2px #cccccc;

    text-align: right;">

        <h1>Mercedes Benz Blogging App</h1>

       <a [routerLink]="['/all-blogs']">Read Blogs...</a>

    </div>

</div> -->

 

 

 

<!-- <p> {{firstName | uppercase | lowercase}} </p>

<p> {{lastName | lowercase }} </p>

<p>{{salary | currency }}</p>

<p>{{salary | currency : 'INR'}}</p>

<p> {{ 375 | percent }} </p>

<p> {{ 375 | percent : '2.5-2'}} </p>

<p> {{empData.firstName}} </p>

 

<div>

    <input [(ngModel)]="userData">

</div>

<div>

    <button (click)="increaseSalary()">

        Increase Salary

    </button>

</div>

 

<p>{{userData}}</p> -->

 

 

 

<!-- <img [src]="imageSource" height="400px" alt="abc"> -->



<!-- <div style="
    background-image: url('https://hdqwalls.com/wallpapers/mercedes-benz-amg-gt-cgi-4k-o3.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 120vh; /* Set the height of the container to fill the viewport height */
">
    <div style="min-height: 100vh; 
    color: burlywood;
    text-align: left;">
        <h1 style="text-shadow: 2px 2px black;">Mercedes Benz Blogging App</h1>
        <a [routerLink]="['/all-blogs']" style="color: burlywood;">Read Blogs...</a>
    </div>
</div> -->


